// Inputs declaration
params.data_root = false
params.output_root = "outputs"
params.publish_all = false
params.publish_mode = "copy"
params.verbose_outputs = true
params.conservative_resources = true
params.free_processes = 1
params.memory_buffer_gb = 10
params.max_cpu_per_process = null
params.max_attempts = 3
params.b0_threshold = false
params.cuda_max_parallel = 4
params.bet_f = 0.5
params.max_dti_bvalue = 1300

includeConfig '../.base/resource_allocation.config'
includeConfig '../.base/manifest.config'

singularity.autoMounts = true

// Required environment variables
env.FSLOUTPUTTYPE = 'NIFTI_GZ'

params.on_hcp = false
// Configuration profiles
includeConfig '../.base/profiles.config'
