// Algorithms configuration
// ------------------------
//
//  Due to the variety of the possible configurations of some algorithms and
//  to the plurality of options they offer, their specific configuration has
//  been extracted to separate files. Here is listed all of the algorithms
//  and there related configuration entry point. Using it, users can input
//  a per study configuration for those, by either using the parameters
//  params.* inside their nextflow.config file, supplying the complete path
//  to the configuration file associated, of supplying them via their command
//  line call to nextflow (using the name of the parameter after params.).
//
//  The configuration files must be placed in a directory accessible to the
//  execution of Nextflow, we suggest putting them at the root of the
//  execution of Nextflow for each study. To build a valid configuration
//  file, either call
//       mrhardi <name of app> --out-config <name_of_config_file>
//
//  or refer to those present in the .config directory. Take not however that
//  those have been tailored for a global execution for most studies and that
//  their content won't necessarily reflect the entire configuration possible.

// Preprocessing algorithms global configuration
// ---------------------------------------------
// - Topup correction       : params.prepare_topup_base_config
// - Eddy correction        : params.prepare_eddy_base_config
// - Eddy correction (CUDA) : params.prepare_eddy_cuda_base_config
// - N4 normalization (DWI) : params.dwi_n4_normalization_config
// - N4 normalization (T1)  : params.t1_n4_normalization_config
// - ANTs registration      : params.ants_registration_basic_config
// - ANTs apply transform   : params.ants_transform_base_config

// Utilitary algorithms global configuration
// -----------------------------------------
// - Concatenation            : params.concatenate_base_config
// - Shell extraction (n > 1) : params.extract_shell_greater_than_one_config
// - b0 mean extraction       : params.extract_mean_b0_base_config

// Workflow specific configuration
// -------------------------------
// - Pre-denoise T1 to b0 mask registration : params.pre_denoise_mask_registration_config
// - Topup b0 extraction                    : params.preproc_epi_correction_extract_b0_config
// - Pre-Eddy b0 set reduction              : params.preproc_squash_b0_config

// T1 t0 b0 registration configuration
// -----------------------------------
// - Base registration (Rigid + Affine)      : params.t1_registration_base_registration_config
// - SyN registration  (t1 -> b0 + t1 -> FA) : params.t1_registration_syn_registration_config

// Inter-repetition registration configuration (b0 to b0 + t1 to b0)
// -----------------------------------------------------------------
// - b0 to b0 registration : params.reps_registration_b0_registration_config
// - t1 to b0 registration : params.reps_registration_t1_registration_config
// - Apply registration    : params.reps_registration_apply_registration_config

// Reconstruction algorithms configuration
// ---------------------------------------
// - Diamond           : params.reconstruct_diamond_config
// - DTI               : params.reconstruct_mrtrix_dti_config
// - CSD               : params.reconstruct_mrtrix_csd_config
// - Response function : params.reconstruct_mrtrix_frf_config

// Measures on reconstructions algorithms configuration
// ----------------------------------------------------
// - Measures on Diamond : params.measures_on_diamond_config
// - Measures on DTI     : params.measures_on_dti_config

// Inputs declaration
params.data_root = false
params.default_readout = false
params.default_multiband_factor = false
params.default_is_interleaved = null
params.default_slicing_direction = false
params.default_phase_direction = false
params.default_acquisition_tensor_type = "Linear"

// Outputs declaration
params.output_root = "outputs"
params.publish_all = false
params.publish_mode = "copy"
params.verbose_outputs = false

// Use gpu if available
params.use_cuda = false

// Resources conservation
params.conservative_resources = true
params.free_processes = 1
params.memory_buffer_gb = 10
params.max_cpu_per_process = null
params.max_attempts = 3
params.check_memory_requirements = false


// Enable and disable pipeline steps

// Global processes
params.resample_data = false

// T1 processes
params.denoise_t1 = true
params.t1_intensity_normalization = true

// Registration processes
params.dwi_mask_from_t1_mask = true
params.register_t1_to_dwi = true

// Segmentation processes
params.generate_tissue_segmentation = true
params.generate_wm_segmentation = true
params.register_d99 = true
params.register_charm = true
params.register_sarm = true
params.register_inia19 = true

// DWI processes
params.gaussian_noise_correction = true
params.gibbs_ringing_correction = true
params.normalize_inter_b0 = false
params.epi_correction = true
params.eddy_correction = true
params.dwi_intensity_normalization = true

// Reconstruction processeses
params.recons_dti = true
params.recons_csd = true
params.recons_diamond = true

// Tracking processes
params.pft_tracking = true

// Misc processes
params.raw_to_processed_space = false

// WORKFLOWS PARAMETRIZATION

// Global preprocessing parameters
params.force_resampling_resolution = false
params.resampling_min_resolution = false
params.resampling_subdivision = 2
params.force_resampling_sequential = true
params.b0_threshold = false

// T1 preprocessing parameters
params.nlmeans_t1 = true

// DWI preprocessing parameters

// B0 normalization
params.b0_normalization_strategy = "linear"

// EPI correction
params.epi_algorithm = "topup"

// Eddy
params.eddy_force_shelled = true
params.eddy_with_reverse = true
params.eddy_select_gpu = true
params.cuda_max_parallel = 4

// Bet
params.bet_f = 0.5

// Registration
params.quick_t1_mask_registration = true
params.quick_denoised_t1_registration = false
params.t1_registration_in_subject_space = false

// Segmentation
params.min_pvf_threshold = 0.001
params.max_safe_csf_pvf_threshold = 0.05
params.max_safe_gm_pvf_threshold = 0.01
params.safe_csf_mask_dilation = 1
params.safe_gm_mask_dilation = 0
params.atropos_prior_weight = 0.3

// Diffusion modeling
params.strict_parameters = true

// DTI
params.max_dti_bvalue = 1300

// CSD
params.duplicates_merge_method = "mean"
params.msmt_odf = false
params.use_mrtrix_csd = false
params.frf_fa = 0.75
params.frf_min_fa = 0.55
params.frf_min_nvox = 200
params.frf_radii = false
params.frf_center = false
params.frf_on_dti_shell = false
params.max_fa_ventricle = 0.2
params.min_md_ventricle = 0.0025
params.ventricles_center = false
params.fodf_wm_max_absolute_factor = 1.5
params.fodf_gm_max_absolute_factor = 1.0
params.fodf_wm_relative_thr = 0.2
params.fodf_gm_relative_thr = 0.6
params.sh_order = 8

// DIAMOND
params.n_fascicles = 3
params.fascicle_model = "diamondNCcyl"
params.model_selection_with_tensor = false
params.estimate_restriction = false
params.estimate_hindered = false
params.restriction_tensor = false
params.free_water_tensor = false
params.normalized_fractions = true

// Tracking
params.pve_threshold = 0.01
params.pft_random_seed = 0
params.tracking_algorithm = "prob"
params.streamline_compression_factor = 0.2
params.pft_seeding_strategy = "npv"
params.pft_number_of_seeds = 20
params.pft_step_size = 0.25
params.pft_theta_max = 20
params.pft_sfthres = 0.1
params.pft_sfthres_init = 0.5
params.pft_min_tract_length = 20
params.pft_max_tract_length = 200
params.pft_number_of_particles = 15
params.pft_back_tracking_length = 1
params.pft_forward_tracking_length = 0.5

// Miscelaneous
params.random_seed = 1234
params.validate_bvecs_fa_thr = 0.2

includeConfig '.base/resource_allocation.config'
includeConfig '.base/manifest.config'

singularity.autoMounts = true

if ( params.use_cuda ) {
    singularity.runOptions = "--nv"
    docker.runOptions = "--gpus all"
}

if ( !params.cuda_max_parallel ) {
    params.cuda_max_parallel = params.processes - 1
}

// Required environment variables
env.FSLOUTPUTTYPE = 'NIFTI_GZ'

params.on_hcp = false
// Configuration profiles
includeConfig '.base/profiles.config'
