
manifest {
    author = "Alex Valcourt Caron"
    description = """
        mrHARDIflow : a pipeline for robust, reproducible and adaptive preprocessing 
        and modelisation of the axonal structure in primate brain diffusion MRI data
    """.stripMargin()
    doi = "https://doi.org/10.1101/2021.11.22.469616"
    homePage = "https://github.com/AlexVCaron/mrHARDIflow"
    name = "mrHARDIflow"
    version = "0.9"
}