
profiles {
    standard {
        process {
            withLabel: res_single_cpu { cpus = 1 }
            withLabel: res_max_cpu { cpus = params.max_cpu_per_process && (params.max_cpu_per_process < params.processes) ? params.max_cpu_per_process : params.processes }
            withLabel: res_conservative_cpu { cpus = params.max_cpu_per_process && (params.max_cpu_per_process < Math.max(1, params.processes - params.free_processes)) ? params.max_cpu_per_process : Math.max(1, params.processes - params.free_processes) }
            withLabel: hcp_full_node_override { cpus = params.processes }
            errorStrategy = {
                if (task.attempt <= params.max_attempts){
                    sleep(Math.pow(2, task.attempt) * 200 as long);
                    return 'retry'
                } else return 'ignore'
            }
            maxRetries = params.max_attempts
            maxErrors = -1

            withName: eddy { maxForks = params.cuda_max_parallel }
        }
    }
    hcp {
        process {
            withLabel: res_single_cpu { cpus = 1 }
            withLabel: res_max_cpu { cpus = params.max_cpu_per_process && (params.max_cpu_per_process < params.processes) ? params.max_cpu_per_process : params.processes }
            withLabel: res_conservative_cpu { cpus = params.max_cpu_per_process && (params.max_cpu_per_process < Math.max(1, params.processes - params.free_processes)) ? params.max_cpu_per_process : Math.max(1, params.processes - params.free_processes) }
            withLabel: hcp_full_node_override { cpus = params.processes }
            errorStrategy = {
                if (task.attempt <= params.max_attempts){
                    sleep(Math.pow(2, task.attempt) * 200 as long);
                    return 'retry'
                } else return 'ignore'
            }
            maxRetries = params.max_attempts
            maxErrors = -1
            executor = 'ignite'
            scratch = true
            stageInMode = 'copy'
            stageOutMode = 'rsync'

            withName: eddy { maxForks = params.cuda_max_parallel }
        }
        params.on_hcp = true
    }
    hcp_local {
        process {
            withLabel: res_single_cpu { cpus = 1 }
            withLabel: res_max_cpu { cpus = params.max_cpu_per_process && (params.max_cpu_per_process < params.processes) ? params.max_cpu_per_process : params.processes }
            withLabel: res_conservative_cpu { cpus = params.max_cpu_per_process && (params.max_cpu_per_process < Math.max(1, params.processes - params.free_processes)) ? params.max_cpu_per_process : Math.max(1, params.processes - params.free_processes) }
            withLabel: hcp_full_node_override { cpus = params.processes }
            errorStrategy = {
                if (task.attempt <= params.max_attempts){
                    sleep(Math.pow(2, task.attempt) * 200 as long);
                    return 'retry'
                } else return 'ignore'
            }
            maxRetries = params.max_attempts
            maxErrors = -1
            scratch = true
            stageInMode = 'copy'
            stageOutMode = 'rsync'

            withName: eddy { maxForks = params.cuda_max_parallel }
        }
        params.on_hcp = true
    }
    macos {
        process {
            withLabel: res_single_cpu { cpus = 1 }
            withLabel: res_max_cpu { cpus = params.max_cpu_per_process && (params.max_cpu_per_process < params.processes) ? params.max_cpu_per_process : params.processes }
            withLabel: res_conservative_cpu { cpus = params.max_cpu_per_process && (params.max_cpu_per_process < Math.max(1, params.processes - params.free_processes)) ? params.max_cpu_per_process : Math.max(1, params.processes - params.free_processes) }
            withLabel: hcp_full_node_override { cpus = params.processes }
            errorStrategy = {
                if (task.attempt <= params.max_attempts){
                    sleep(Math.pow(2, task.attempt) * 200 as long);
                    return 'retry'
                } else return 'ignore'
            }
            maxRetries = params.max_attempts
            maxErrors = -1
            scratch="/tmp"

            withName: eddy { maxForks = params.cuda_max_parallel }
        }
    }
    human {
        params.tissue_segmentation_root = "../.data/human/tissue_segmentation"
        params.generate_wm_segmentation = false
    }
}
