
// Output management
params.publish_all = false
params.publish_mode = "link"
params.output_root = "outputs"

// Tractography techniques
params.pft_tracking = true
params.local_tracking = true
params.run_commit = true

params.use_opencl_tracking = false
params.use_cuda = false

params.use_opencl_tracking = false

// Random seeding
params.pft_tracking_seeds = 1234
params.pft_n_tracking_seeds = 1
params.local_tracking_seeds = 1234
params.local_n_tracking_seeds = 1

// PFT configuration
params.pft_tracking_algorithm = ["prob", "det"]
params.pft_seeding_mask = ["wm", "fa", "interface"]
params.pft_seeding_mask_fa_threshold = 0.3
params.pft_seeding_strategy = "npv"
params.pft_number_of_seeds = 5
params.pft_step_size = [0.1, 0.2]
params.pft_theta_max = [15, 45]
params.pft_number_of_particles = [20]
params.pft_back_tracking_length = [1.0, 2.0]

// Local tracking configuration
params.local_tracking_algorithm = ["det", "prob", "eudx"]
params.local_tracking_mask = ["wm", "fa"]
params.local_tracking_mask_fa_threshold = 0.2
params.local_seeding_mask = ["wm", "fa", "interface"]
params.local_seeding_mask_fa_threshold = 0.3
params.local_seeding_strategy = "npv"
params.local_number_of_seeds = 10
params.local_step_size = [0.1, 0.2]
params.local_theta_max = [15, 45]
params.local_sub_sphere = 0

// Static parameters

params.b0_threshold = 40
params.streamline_compression_factor = 0.1

params.local_min_len = 5
params.local_max_len = 80
params.local_sfthres = 0.1
params.pft_min_tract_length = 5
params.pft_max_tract_length = 80
params.pft_forward_tracking_length = 0.5
params.pft_sfthres_init = 0.5
params.pft_sfthres = 0.1

// COMMIT
params.commit_frf_n_directions = 500
params.commit_n_iterations = 1000
params.commit_run_commit2 = false 
params.commit_lambda_commit2 = 1E-3
params.commit_use_ball_stick = true
params.commit_parallel_diffusivity = 1.3E-3
params.commit_perpendicular_diffusivity = false
params.commit_isotropic_diffusivity = [2.1E-3]


// Resource allocation 
params.conservative_resources = false
params.free_processes = 0
params.memory_buffer_gb = 10
params.max_cpu_per_process = null
params.max_attempts = 0
params.check_memory_requirements = false
params.cuda_max_parallel = 4


includeConfig '../.base/resource_allocation.config'
includeConfig '../.base/manifest.config'

singularity.autoMounts = true

if ( params.use_cuda ) {
    singularity.runOptions = "--nv"
    docker.runOptions = "--gpus all"
}

process {
    withName: '.*(opencl|gpu).*' {
        maxForks = params.cuda_max_parallel
    }
}

// Required environment variables
env.FSLOUTPUTTYPE = 'NIFTI_GZ'

params.on_hcp = false
// Configuration profiles
includeConfig './profiles.config'

// Include tower config, which can be empty if no tower connection needs to be made
includeConfig '../.base/tower.config'