



// Output images parameters
params.qc_screenshot_orientation = "axial"
params.qc_image_size = [2000, 1000] // Side-by-side composition (at most 2 images), thus width is 2 times height
params.qc_overlay_opacity = 0.5
params.qc_masks_as_contours = true

// Volume to GIF parameters
params.qc_gif_slice_gap = 5
params.qc_dwi_gif_framerate = 0.6 // display an image each 2/3 of a second
params.qc_masking_gif_framerate = 0.6

// Gradient sampling parameters
params.qc_gradients_sphere = false
params.qc_gradients_disable_sphere = false
params.qc_gradients_disable_supershell = false
params.qc_gradients_split_shells = false
params.qc_gradients_sphere_opacity = 0.5
params.qc_gradients_shells_same_color = false

// Colormapping parameters
params.qc_b0_colormap_name = false
params.qc_dwi_colormap_name = false
params.qc_t1_colormap_name = false
params.qc_masks_colormap_name = false
params.qc_pvf_colormap_name = false
params.qc_d99_colormap_name = false
params.qc_inia19_colormap_name = false
params.qc_charm_colormap_name = false
params.qc_sarm_colormap_name = false



// Output management
params.publish_all = false
params.publish_mode = "link"
params.output_root = "outputs"


// Resource allocation
params.use_cuda = false
params.conservative_resources = false
params.free_processes = 0
params.memory_buffer_gb = 10
params.max_cpu_per_process = null
params.max_attempts = 0
params.check_memory_requirements = false
params.cuda_max_parallel = 4


includeConfig '../.base/resource_allocation.config'
includeConfig '../.base/manifest.config'

singularity.autoMounts = true

if ( params.use_cuda ) {
    singularity.runOptions = "--nv"
    docker.runOptions = "--gpus all"
}

process {
    withName: '.*(opencl|gpu).*' {
        maxForks = params.cuda_max_parallel
    }
}

// Required environment variables
env.FSLOUTPUTTYPE = 'NIFTI_GZ'

params.on_hcp = false
// Configuration profiles
includeConfig './profiles.config'

// Include tower config, which can be empty if no tower connection needs to be made
includeConfig '../.base/tower.config'

process {
    maxForks: 2
}